body {
    font-family: 'Poppins';
}

.heading,
.activity {
    font-family: 'PT Serif';
}

ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px;
}

.name {
    font-weight: 600;
}
