@import "./variable.scss";

body {
    font-family: 'Poppins';
    background-color: #FAFAFA;
}

.heading,
.activity {
    font-family: 'PT Serif';
}

p {
    margin: 0;
}

ul {
    @include reset-list;
}

.name {
    font-weight: 600;
}

@media (min-width: $mobile-breakpoint) {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 27px;
    }
}

@media (min-width: $larger-breakpoint) {

    main {
        @include container;
    }
}