body {
    font-family: 'Poppins';
}

.masthead-heading,
.activity {
    font-family: 'PT Serif';
}

.activity {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.name {
    font-weight: 600;
}