@font-face {
    font-family: 'Poppins';
    src: local('Poppins Normal'), local('Poppins-Normal'),
         url('#{$font-path}/poppins-normal.woff2'),
         url('#{$font-path}/poppins-normal.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Semi-bold'), local('Poppins Semi Bold'), local('Poppins-Semi-Bold'),
         url('#{$font-path}/poppins-semibold.woff2'),
         url('#{$font-path}/poppins-semibold.woff');
    font-weight: 600;
}

///////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Normal'), local('PT-Serif-Normal'),
         url('#{$font-path}/ptserif-normal.woff2'),
         url('#{$font-path}/ptserif-normal.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold'), local('PT-Serif-Normal'),
         url('#{$font-path}/ptserif-bold.woff2'),
         url('#{$font-path}/ptserif-bold.woff');
    font-weight: 600;
}
