@import "./variable.scss";

.page-information {
    font-size: 14px;
    padding-bottom: 30px;
}

.page-information a {
    color: #A9A9A9;
    text-decoration: none;
}

@media (min-width: $larger-breakpoint) {

    footer {
        @include container;
        text-align: center;
    }
}