@import "./variable.scss";

.heading {
    font-size: 30px;
}

.header-heading {
    font-weight: 600;
}

.header-article-paragraph {
    font-size: 14px;
}

@media (min-width: $mobile-breakpoint) {
    .heading {
        font-size: 36px;
    }
}

@media (min-width: $larger-breakpoint) {
    .header {
        display: flex;
        flex-direction: row;
        padding-top: 110px;
    }

    .header-article {
        max-width: 439px;
    }

    .header-article-paragraph {
        font-size: 18px;
    }

    
     .heading {
         flex-basis: 55%;
     }

     .header-article {
         flex-basis: 45%;
     }
}