.heading {
    font-size: 36px;
}

.header-heading {
    font-weight: 600;
}

.header-article-paragraph {
    font-size: 14px;
}

@media (min-width: 1100px) {
    .header {
        display: flex;
        flex-direction: row;
    }

    .header-article {
        max-width: 439px;
    }

    .header-article-paragraph {
        font-size: 18px;
    }

    
     .heading {
         flex-basis: 55%;
     }

     .header-article {
         flex-basis: 45%;
     }
}