@import "./variable";

div {
    padding-top: 66px;
    padding-bottom: 84px;
}

img {    
    //  max-height: 261px;
    // max-width: 138px;
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
}

 li {
     position: relative;
     max-width: 95%;
}

li:nth-of-type(odd) {
    padding-bottom: calc(53px - 16px);
}

li:nth-of-type(even) {
    padding-top: calc(53px - 16px);
}

.activity {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
    position: absolute;
    left: 100%;
}

.name {
    font-size: 14px;
}

@media (min-width: 1100px) {
    div {
        padding-top: 96px;
    }

    ul {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 56px;
    }

    ul > li:nth-of-type(5) {
        padding-top: 106px;
    }

    .name {
        font-size: 18px;
    }

    .activity {
        font-size: 12px;
    }
}