img {    
    //  max-height: 261px;
    // max-width: 138px;
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
}

image:nth-of-type(odd) {
    grid-row: 2/4;
    grid-column: 1/2;
}

 li {
     position: relative;
}

.activity {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
    position: absolute;
    left: 100%;
}

.name {
    font-size: 14px;
}

@media (min-width: 700px) {
    .name {
        font-size: 18px;
    }

    .activity {
        font-size: 12px;
    }
}